@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    height: auto;
    width: 100%;
}

.navbar-icon {
    height: 100%;
}

.navbar-background {
    background-color: rgb(255, 208, 8);
}

.button-hover {
    transition: 0.3s;
}

.button-hover:hover {
    background-color: rgb(239, 243, 245)
}

.search-box {
    width: 50%;
    margin-left: 25%;
}

.search-button {
    background-color: rgb(255, 208, 8);
    transition: 0.3s;
}

.search-button:hover {
    background-color: rgb(255, 242, 191);
}

.large-top-margin {
    margin-top: 10%;
}
