.searchbox {
    position: relative;
    display: inline-block;
    margin-top: 120px;
    padding: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0 .5em 1em -.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05;
    border-radius: 5px;
    width: 45%;
}

.searchbutton {
    position: absolute;
    background-color: var(--main-color);
    bottom: -35px;
    right: 1rem;
    font-size: 1.25rem;
    margin: 0;
    padding: .75rem 1rem;
    cursor: pointer;
}