.header {
    position: fixed;
    width: 100%;
    background-color: var(--main-color);
    box-shadow: 0 0 1em #00000060;
    z-index: 10;
    height: 4rem;
    transition: height .2s;
}

.headercontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 11;
    gap: 4rem;
}

.headercontentSocials {
    display: flex;
    gap: 1.75rem;
}

.header.open {
    height: 100%;
}

.linkicons {
    position: relative;
    display: flex;
    justify-content: right;
    margin: 1rem;
    gap: 1.75rem;
}

.title {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 1;
    color: var(--font-color);
}

.open .title {
    display: none;
}

.links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}

.links * {
    text-decoration: none;
    color: var(--font-color);
}

.openMenu {
    width: calc(100% - 2rem);
    justify-content: right;
    display: none;
    margin: 1rem;
}

.open .openMenu {
    display: none;
}

.closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    z-index: 13;
}

.open .closeMenu {
    display: flex;
}

@media (max-width: 768px) {
    .links {
        display: none;
    }

    .linkicons {
        display: none;
    }

    .openMenu {
        display: flex;
    }

    .header {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
}